<div class="header">
  <div class="appImage">
    <fa-icon icon="yin-yang" size="3x" class="logo"></fa-icon>
  </div>
  <div class="logo">
    <fa-icon icon="user" size="2x"></fa-icon>
    <span class="title">Dashboard</span>
  </div>

  <div ngbDropdown class="header-btn">
    <a class="btn header-btn" id="dropdownBasic1" ngbDropdownToggle>Logout</a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerlink="\test">Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>
</div>

