.dashboard {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: stretch;
  // justify-content: flex-end;
}

.main {
  -ms-flex: 1;
  flex-grow: 1;
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto; 
}

// .header, .main, .footer {

//     flex-shrink: 0;
// }

.header {
  flex: 0 0 auto;
}

.footer {
  flex: 0 0 auto;
}
