@import './../node_modules/primeicons/primeicons.css';
@import './../node_modules//primeng/resources/themes/nova-light/theme.css';
@import './../node_modules/primeng/resources/primeng.css';

/* You can add global styles to this file, and also import other style files */
* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
 }

 html, body, app-root, .page {
  height: 100%;
}

